$primary-bg-color: blue;
$primary-text-color: white;
$primary-bg-hover-color: darkblue;
$secondary-bg-color: rgb(192, 9, 238);
$secondary-text-color: rgb(255, 255, 255);
$secondary-bg-hover-color: rgb(112, 9, 138);

.button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.primary {
  background: $primary-bg-color;
  color: $primary-text-color;
  &:hover {
    background: $primary-bg-hover-color;
  }
}

.secondary {
  background: $secondary-bg-color;
  color: $secondary-text-color;
  &:hover {
    background: $secondary-bg-hover-color;
  }
}

.small {
  font-size: 0.8rem;
}
.medium {
  font-size: 1rem;
}
.large {
  font-size: 1.2rem;
}
